* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.footer {
    width: 100%;
    padding: 60px 40px;
    margin-top: 60px;
    background: #f6f6f6;
}

.footer .container {
    display: flex;
    max-width: 100%;
}
.footer .container .left_box {
    width: 30%;
    padding: 20px 20px;
    border-right: 2px solid #b8b7b7;
}

.footer .container .left_box .box {
    display: flex;
    padding: 10px 20px;
    margin-top: 15px;
}

.footer .container .left_box .box .icon_box {
    font-size: 24px;
    color: #FF4500;
}

.footer .container .left_box .box .detail {
    margin-left: 10px;
}

.footer .container .left_box .box .detail h3 {
    text-transform: uppercase;
    font-size: 16px;
    color: #FF4500;
    font-weight: 600;
    letter-spacing: 1px;
}

.footer .container .left_box .box .detail p {
    font-size: 14px;
    color: #232323;
}

/* RIGHT BOX */

.footer .container .right_box {
    padding: 10px 20px;
    width: 100%;
}

.footer .container .right_box .header {
    max-width: 100%;
    align-items: center;
}

.footer .container .right_box .header img {
    margin-left: 50%;
    width: 30%;
    height: 60%;
    margin-top: -90px;
    cursor: pointer;
}

.footer .container .right_box .bottom{
    padding: 60px 20px;
    margin-top: 40px;
    width: 100%;
    display: flex;
    height: 100%;
    gap: 300px;
}

.footer .container .right_box .bottom .box {
    padding: 10px 20px;
}
.footer .container .right_box .bottom .box h3 {
    text-transform: uppercase;
    color: #232323;
    font-size: 14px;
    letter-spacing: 1px;
}

.footer .container .right_box .bottom .box ul {
    margin-top: 10px;
}
.footer .container .right_box .bottom .box ul li {
    list-style: none;
    margin-top: 5px;
    color: #8a8a8a;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 12px;
    cursor: pointer;
    transition: .5s;
}

.footer .container .right_box .bottom .box ul li:hover {
    color: #FF4500;
}

/* RESPONSIVE 1440PX */

@media (max-width: 1440px) {
    .footer .container .right_box .header img {
        margin-left: 40%;
        width: 30%;
        height: 60%;
        margin-top: -90px;
        cursor: pointer;
    }
}

/* RESPONSIVE 768PX */

@media (max-width: 768px) {
    .footer .container .right_box .header img {
        margin-left: 30%;
        width: 40%;
        height: 60%;
        margin-top: -90px;
        cursor: pointer;
    }
}
@media (max-width: 768px) {
    .footer .container .right_box .bottom .box ul li {
        list-style: none;
        margin-top: 10px;
        color: #8a8a8a;
        text-transform: capitalize;
        letter-spacing: 1px;
        font-size: 16px;
        cursor: pointer;
        transition: .5s;
    }
}
@media (max-width: 768px) {
    .footer .container .right_box .bottom{
        padding: 60px 20px;
        margin-top: 10px;
        width: 100%;
        display: flex;
        height: 100%;
        gap: 10px;
    }
}

/* RESPONSIVE 390PX */
@media (max-width: 390px) {
    .footer {
        width: 100%;
        padding: 0px 10px;
        margin-top: 100px;
        background: #f6f6f6;
    }
}
    .footer .container {
        display: flex;
        max-width: 100%;
    }


    .footer .container .left_box {
        width: 100%;
        margin-left: -20px;
        border: none;
        display: flex;
    }

    .footer .container .left_box .box {
        padding: 5px 5px;
        margin-top: 15px;
    }
    

    .footer .container .right_box {
        padding: 20px 20px;
        width: 100%;
        display: flex;
        margin-top: 50px;
        margin-left: -450px;
    }

    .footer .container .right_box .header {
        max-width: 100%;
        align-items: center;
    }

    .footer .container .left_box .box .icon_box {
        font-size: 20px;
        color: #FF4500;
    }

    .footer .container .left_box .box .detail {
        margin-left: 1px;
    }

    .footer .container .left_box .box .detail h3 {
        text-transform: uppercase;
        font-size: 13px;
        color: #FF4500;
        font-weight: 600;
    }
    
    .footer .container .right_box .bottom .box {
        padding: 20px 10px;
    }

    .footer .container .right_box .bottom .box h3 {
        text-transform: uppercase;
        color: #232323;
        font-size: 14px;
        letter-spacing: 0;
    }

    .footer .container .right_box .bottom .box ul {
        margin-top: 15px;
    } 

    .footer .container .right_box .bottom .box ul li {
        list-style: none;
        margin-top: 5px;
        color: #8a8a8a;
        text-transform: capitalize;
        letter-spacing: 0px;
        font-size: 12px;
        cursor: pointer;
    }

/* RESPONSIVE 360PX */
@media (max-width: 360px) {
    
    .footer .container .left_box {
        width: 100%;
        margin-left: -20px;
        border: none;
        display: flex;
    }
    
    .footer .container .left_box .box {
        padding: 5px 5px;
        margin-top: 15px;
    }
    
    
    .footer .container .right_box {
        padding: 20px 20px;
        width: 100%;
        display: flex;
        margin-top: 50px;
        margin-left: -430px;
    }
    
    .footer .container .right_box .header {
        max-width: 100%;
        align-items: center;
    }
    
    .footer .container .left_box .box .icon_box {
        font-size: 20px;
        color: #FF4500;
    }
    
    .footer .container .left_box .box .detail {
        margin-left: 1px;
    }
    
    .footer .container .left_box .box .detail h3 {
        text-transform: uppercase;
        font-size: 11px;
        color: #FF4500;
        font-weight: 600;
    }
    
    .footer .container .right_box .bottom .box {
        padding: 20px 10px;
    }
    
    .footer .container .right_box .bottom .box h3 {
        text-transform: uppercase;
        color: #232323;
        font-size: 11px;
        letter-spacing: 0;
    }
    
    .footer .container .right_box .bottom .box ul {
        margin-top: 15px;
    } 
    
    .footer .container .right_box .bottom .box ul li {
        list-style: none;
        margin-top: 5px;
        color: #8a8a8a;
        text-transform: capitalize;
        letter-spacing: 0px;
        font-size: 12px;
        cursor: pointer;
    }
}